@model AdminTemplate.Models.user_details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>user_details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact_No)
            </dd>
@*
            <dt>
                @Html.DisplayNameFor(model => model.Login_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login_Date)
            </dd>
*@
        </dl>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>

        }
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
